[submodule "segment_3d_gaussians"]
	path = segment_3d_gaussians
	url = https://github.com/Jumpat/SegAnyGAussians.git
	branch = v2
[submodule "colmap"]
	path = colmap
	url = https://github.com/colmap/colmap
[submodule "opennerf"]
	path = opennerf
	url = https://github.com/opennerf/opennerf.git
[submodule "ov-seg"]
	path = ov-seg
	url = https://github.com/facebookresearch/ov-seg.git
